*{
    box-sizing: border-box;
}
.navbar{
    background-color: #25221e;
}
.container{
    margin-top: 1em;
    margin-bottom: 1em;
    width: 100%;
    padding: 1em;
}

.result-container{
    width: 100%;
    height: 50px;
    font-size: 18px;
    letter-spacing: 1px;
    padding: 1em;
    border: grey;
    border-style: solid;   
    margin-bottom: 1em; 
    
}
#error_no_criteria{
    margin-left: 1em;
    color: red;
}